@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 0.791rem;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  position: relative;
  line-height: 1.6;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  margin: 0.67em 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Navbar */
nav {
  background: #5d3ebc;
  width: 100%;
  padding: 1.3rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

nav .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 6vw, 2rem);
}

nav .cart-icon {
  position: relative;
}

nav i {
  font-size: 2rem;
  cursor: pointer;
}

nav .basket-length {
  background-color: rgb(255, 183, 0);
  padding: 0rem 0.5rem;
  position: absolute;
  top: -13px;
  right: -22px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

/* Basket */
.basket {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  border: 0.1px solid rgb(219, 219, 219);
  border-radius: 0.3rem;
  transition: all 0.45s ease-in-out;
}

.basket.active {
  transform: translateX(0);
  z-index: 999;
}

.basket .container {
  width: 40rem;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  overflow: scroll;
}

.basket .container .basket-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.basket .container .basket-header .basket-title {
  font-size: clamp(1rem, 1.6rem, 2rem);
  font-weight: bold;
}

.basket .container .basket-header .basket-icon {
  position: absolute;
  top: -0.2rem;
  right: 0.6rem;
  color: #b3b3b3;
  padding-top: 0.5rem;
  cursor: pointer;
}

.basket .container .basket-alt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.basket .container .basket-alt button {
  background: transparent;
  color: #a21818;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid #a21818;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.basket .container .basket-alt button:hover {
  background: #a21818;
  color: #fff;
}

.basket .container .basket-alt span {
  font-size: 1.3rem;
}

.basket .container .total-amount {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: right;
}

.basket .container .basket-warning {
  width: 100%;
  background: #feebc8;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #000;
  text-align: center;
}

.basket .container .basket-item {
  width: 100%;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 1.5rem;
}

.basket .container .basket-item img {
  width: 6rem;
  height: 6rem;
}

.basket .container .basket-item .item-info h2 {
  font-size: 1.2rem;
}

.basket .container .basket-item .item-info p {
  font-size: 1.1rem;
}

.basket .container .basket-item .inc-dec {
  background: rgb(33, 33, 33);
  width: 100%;
  margin-top: 1rem;
  padding: 0.3rem 1.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}

.basket .container .basket-item .inc-dec i,
.basket .container .basket-item .inc-dec .item-quantity {
  font-size: 1.2rem;
}

.basket .container .basket-item .item-info .fa-xmark {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  color: #e50914;
  cursor: pointer;
}

/* Products */
.products {
  padding: 1rem;
  z-index: -1;
}

.products .container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.products .container .product-item {
  background-color: rgb(255, 255, 255);
  max-width: 18rem;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.7rem 1rem;
  transition: all 0.2s ease 0s;
}

.products .container .product-item:hover {
  transform: translateY(-0.5rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1rem 2rem;
}

.products .container .product-item .product-image {
  width: 100%;
  height: 100%;
}

.products .container .product-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.products .container .product-item .product-info {
  padding: 2rem;
}

.products .container .product-item .product-info h2 {
  font-size: 1.6rem;
}

.products .container .product-item .product-info p {
  color: #5e5e5e;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.products .container .product-item .product-info button {
  background: #5d3ebc;
  color: #fff;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

/* Responsive */
@media (0 <= width <= 76.8rem) {
  .basket .container {
    width: 100vw;
  }
}

@media (36rem<= width <= 67rem) {
  .products .container {
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  .products .container .product-item {
    width: 100%;
  }

  .products .container .product-item .product-info h2 {
    font-size: 1.4rem;
  }
  .products .container .product-item .product-info p {
    font-size: 1rem;
  }
  .products .container .product-item .product-info button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }
}

@media (width <= 36rem) {
  nav {
    justify-content: center;
    gap: 1rem;
    padding: 1.3rem;
  }

  nav i {
    font-size: 1.5rem;
  }

  nav .basket-length {
    font-size: 0.9rem;
  }

  .products .container {
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }

  .products .container .product-item .product-info h2 {
    font-size: 1rem;
  }

  .products .container .product-item .product-info p {
    font-size: 0.9rem;
  }

  .products .container .product-item .product-info button {
    padding: 0.4rem 2rem;
    font-size: 0.7rem;
  }
}
